[project]
name = "3ddl-wp5-mmt"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "h5py>=3.15.1",
    "matplotlib>=3.10.8",
    "medpy>=0.5.2",
    "nibabel>=5.3.3",
    "numpy>=2.3.5",
    "pathspec>=0.12.1",
    "pytorch-warmup>=0.2.0",
    "scikit-image>=0.25.2",
    "scipy>=1.16.3",
    "tensorboard>=2.20.0",
    "torch>=2.9.1",
    "torchvision>=0.24.1",
    "tqdm>=4.67.1",
]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["I", "E", "W", "F", "C901", "B", "SIM", "Q", "UP"]
ignore = []
unfixable = ["F401"]
